<h1>New game</h1>
<%= @letters %>

<p>What is the longest word you can find?</p>
<form action="score" method="post" data-turbo="false">
  <input type="text" name="word">
  <input type="text" name="grid" hidden=true value="<%= @letters.join %>">
  <input type="submit" value="Play" class="btn-play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
